.btn {
  border-radius: 0.3125rem;
  border: none;
  font-size: 0.875rem;
  line-height: 1.1875rem;
  background-color: #ffffff;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
  padding: 0.9375rem 1rem;
  transition: all .26s;

  &:disabled {
    background-color: $dark-grey;
    box-shadow: none;
    color: #333333;

    &:hover {
      box-shadow: none;
    }
  }

  &:hover {
    box-shadow: 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  }

  &:focus {
    outline: transparent;
    box-shadow: inset 0px -0.5rem 0.5rem rgba(0, 0, 0, 0.25);
  }

  &:active {
    box-shadow: inset 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.25);
  }

  &--red {
    background-color: $main-red;
    color: #ffffff;
  }

  &--transparent {
    border: 1px solid $main-red;
    color: #000000;
    background-color: #ffffff;
  }

  &--s {
    min-width: 8.125rem;
    flex: 0 0 8.125rem;
  }

  &--l {
    min-width: 13.5rem;
    flex: 0 1 13.5rem;
  }
}

.remove-btn {
  height: 1rem;
  width: 1rem;
  border: none;
  background-color: transparent;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  transition: all .26s;
  background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='%23B8B8B8' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4703 9.65094C13.987 8.72915 13.0158 8.02428 12.2412 7.352C11.4132 6.63335 10.5522 5.95306 9.69342 5.27117C10.6755 4.01457 11.6747 2.7678 12.6533 1.50341C12.8406 1.49501 12.9779 1.29066 12.9449 1.10256C13.0376 0.866672 12.7368 0.613764 12.5111 0.709285C12.0767 0.452065 11.5989 0.230165 11.1515 0.0214247C10.9708 -0.0629034 10.763 0.117854 10.8256 0.282501C9.75082 1.38073 8.63762 2.44281 7.51323 3.49431C7.04371 3.09558 6.58056 2.68929 6.12919 2.27C6.12708 2.26803 6.12511 2.26576 6.12299 2.2638C6.12201 2.18801 6.08919 2.11155 6.01189 2.04757C5.98958 2.02911 5.96538 2.01338 5.94261 1.99561L5.94337 1.99463C5.9405 1.99311 5.9377 1.9913 5.93482 1.98971C5.84883 1.92285 5.76216 1.85698 5.67367 1.79383C5.24825 1.31032 4.8397 0.767974 4.35801 0.37825C4.34992 0.142509 4.10351 -0.0882397 3.84108 0.0709627C2.95666 0.607637 1.8759 1.16171 1.19379 1.95696C1.17224 1.98207 1.15583 2.00794 1.14274 2.03433C0.960851 2.03433 0.815188 2.3032 0.969625 2.46059C2.19703 3.71152 3.60874 4.76868 4.98756 5.84521C3.45408 7.27274 1.93951 8.71758 0.503591 10.2357C0.497541 10.2411 0.491112 10.2431 0.485213 10.2493C0.353843 10.3841 0.224667 10.5211 0.097835 10.6601C-0.120131 10.8951 0.0611543 11.2069 0.299238 11.2518C0.735473 11.9648 1.40389 12.4949 2.08676 12.9612C2.54977 13.2775 3.39433 13.8564 3.97721 13.5691C4.08574 13.5885 4.20055 13.5571 4.2578 13.4428C5.21535 11.5318 6.36304 9.7575 7.59892 8.04409C8.29313 8.65398 8.98212 9.26999 9.67723 9.87556C9.88136 10.0534 12.1419 12.4444 12.5301 11.6489C12.5834 11.6634 12.6391 11.6701 12.6941 11.66C13.0475 11.5956 13.3273 11.1505 13.5205 10.8869C13.7201 10.6145 13.926 10.3265 14.1009 10.0304C14.3384 10.1909 14.5868 9.87329 14.4703 9.65094ZM1.63767 10.1491C1.62012 10.1967 1.61626 10.2465 1.61952 10.2957C1.53284 10.3436 1.47362 10.426 1.45071 10.5194C1.36094 10.5273 1.27457 10.5571 1.20007 10.6129C1.18948 10.6085 1.17912 10.604 1.16853 10.5996C1.3241 10.449 1.48028 10.2987 1.63767 10.1491ZM3.86104 12.9632C3.79782 12.9334 3.73202 12.9119 3.66584 12.8907C3.7746 12.8528 3.87443 12.7988 3.96526 12.7298C3.93115 12.8078 3.89447 12.8849 3.86104 12.9632ZM5.49246 5.37418C4.71877 4.74879 3.93486 4.13573 3.14838 3.52637C3.3966 3.69737 3.65253 3.85635 3.91572 4.00421C4.43417 4.46866 4.96948 4.91601 5.50978 5.35807C5.50388 5.36352 5.49814 5.36889 5.49246 5.37418Z'/%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg width='15' height='14' viewBox='0 0 15 14' fill='%23ed3237' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M14.4703 9.65094C13.987 8.72915 13.0158 8.02428 12.2412 7.352C11.4132 6.63335 10.5522 5.95306 9.69342 5.27117C10.6755 4.01457 11.6747 2.7678 12.6533 1.50341C12.8406 1.49501 12.9779 1.29066 12.9449 1.10256C13.0376 0.866672 12.7368 0.613764 12.5111 0.709285C12.0767 0.452065 11.5989 0.230165 11.1515 0.0214247C10.9708 -0.0629034 10.763 0.117854 10.8256 0.282501C9.75082 1.38073 8.63762 2.44281 7.51323 3.49431C7.04371 3.09558 6.58056 2.68929 6.12919 2.27C6.12708 2.26803 6.12511 2.26576 6.12299 2.2638C6.12201 2.18801 6.08919 2.11155 6.01189 2.04757C5.98958 2.02911 5.96538 2.01338 5.94261 1.99561L5.94337 1.99463C5.9405 1.99311 5.9377 1.9913 5.93482 1.98971C5.84883 1.92285 5.76216 1.85698 5.67367 1.79383C5.24825 1.31032 4.8397 0.767974 4.35801 0.37825C4.34992 0.142509 4.10351 -0.0882397 3.84108 0.0709627C2.95666 0.607637 1.8759 1.16171 1.19379 1.95696C1.17224 1.98207 1.15583 2.00794 1.14274 2.03433C0.960851 2.03433 0.815188 2.3032 0.969625 2.46059C2.19703 3.71152 3.60874 4.76868 4.98756 5.84521C3.45408 7.27274 1.93951 8.71758 0.503591 10.2357C0.497541 10.2411 0.491112 10.2431 0.485213 10.2493C0.353843 10.3841 0.224667 10.5211 0.097835 10.6601C-0.120131 10.8951 0.0611543 11.2069 0.299238 11.2518C0.735473 11.9648 1.40389 12.4949 2.08676 12.9612C2.54977 13.2775 3.39433 13.8564 3.97721 13.5691C4.08574 13.5885 4.20055 13.5571 4.2578 13.4428C5.21535 11.5318 6.36304 9.7575 7.59892 8.04409C8.29313 8.65398 8.98212 9.26999 9.67723 9.87556C9.88136 10.0534 12.1419 12.4444 12.5301 11.6489C12.5834 11.6634 12.6391 11.6701 12.6941 11.66C13.0475 11.5956 13.3273 11.1505 13.5205 10.8869C13.7201 10.6145 13.926 10.3265 14.1009 10.0304C14.3384 10.1909 14.5868 9.87329 14.4703 9.65094ZM1.63767 10.1491C1.62012 10.1967 1.61626 10.2465 1.61952 10.2957C1.53284 10.3436 1.47362 10.426 1.45071 10.5194C1.36094 10.5273 1.27457 10.5571 1.20007 10.6129C1.18948 10.6085 1.17912 10.604 1.16853 10.5996C1.3241 10.449 1.48028 10.2987 1.63767 10.1491ZM3.86104 12.9632C3.79782 12.9334 3.73202 12.9119 3.66584 12.8907C3.7746 12.8528 3.87443 12.7988 3.96526 12.7298C3.93115 12.8078 3.89447 12.8849 3.86104 12.9632ZM5.49246 5.37418C4.71877 4.74879 3.93486 4.13573 3.14838 3.52637C3.3966 3.69737 3.65253 3.85635 3.91572 4.00421C4.43417 4.46866 4.96948 4.91601 5.50978 5.35807C5.50388 5.36352 5.49814 5.36889 5.49246 5.37418Z'/%3E%3C/svg%3E");
  }
}



.form__password-btn {
  display: block;
  height: 1.25rem;
  width: 1.25rem;
  border: none;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  background-size: contain;
  transition: all 0.26s;
  background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cpath d='M256 96c-111.659 0-208.441 65.021-256 160 47.559 94.979 144.341 160 256 160 111.656 0 208.438-65.021 256-160-47.558-94.979-144.344-160-256-160zM382.225 180.852c30.081 19.187 55.571 44.887 74.717 75.148-19.146 30.261-44.637 55.961-74.718 75.148-37.797 24.109-81.445 36.852-126.224 36.852-44.78 0-88.429-12.743-126.226-36.852-30.079-19.186-55.569-44.886-74.716-75.148 19.146-30.262 44.637-55.962 74.717-75.148 1.959-1.25 3.938-2.461 5.93-3.65-4.98 13.664-7.705 28.411-7.705 43.798 0 70.691 57.308 128 128 128s128-57.309 128-128c0-15.387-2.726-30.134-7.704-43.799 1.989 1.189 3.969 2.401 5.929 3.651v0zM256 208c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.491 48 48z' fill='%23afafaf'%3E%3C/path%3E%3C/svg%3E");

  &:hover {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cpath d='M256 96c-111.659 0-208.441 65.021-256 160 47.559 94.979 144.341 160 256 160 111.656 0 208.438-65.021 256-160-47.558-94.979-144.344-160-256-160zM382.225 180.852c30.081 19.187 55.571 44.887 74.717 75.148-19.146 30.261-44.637 55.961-74.718 75.148-37.797 24.109-81.445 36.852-126.224 36.852-44.78 0-88.429-12.743-126.226-36.852-30.079-19.186-55.569-44.886-74.716-75.148 19.146-30.262 44.637-55.962 74.717-75.148 1.959-1.25 3.938-2.461 5.93-3.65-4.98 13.664-7.705 28.411-7.705 43.798 0 70.691 57.308 128 128 128s128-57.309 128-128c0-15.387-2.726-30.134-7.704-43.799 1.989 1.189 3.969 2.401 5.929 3.651v0zM256 208c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.491 48 48z' fill='%23c6c6c6'%3E%3C/path%3E%3C/svg%3E");
  }

  &:active {
    background-image: url("data:image/svg+xml,%3Csvg version='1.1' xmlns='http://www.w3.org/2000/svg' width='512' height='512' viewBox='0 0 512 512'%3E%3Cpath d='M256 96c-111.659 0-208.441 65.021-256 160 47.559 94.979 144.341 160 256 160 111.656 0 208.438-65.021 256-160-47.558-94.979-144.344-160-256-160zM382.225 180.852c30.081 19.187 55.571 44.887 74.717 75.148-19.146 30.261-44.637 55.961-74.718 75.148-37.797 24.109-81.445 36.852-126.224 36.852-44.78 0-88.429-12.743-126.226-36.852-30.079-19.186-55.569-44.886-74.716-75.148 19.146-30.262 44.637-55.962 74.717-75.148 1.959-1.25 3.938-2.461 5.93-3.65-4.98 13.664-7.705 28.411-7.705 43.798 0 70.691 57.308 128 128 128s128-57.309 128-128c0-15.387-2.726-30.134-7.704-43.799 1.989 1.189 3.969 2.401 5.929 3.651v0zM256 208c0 26.51-21.49 48-48 48s-48-21.49-48-48 21.49-48 48-48 48 21.491 48 48z' fill='%23ed3237'%3E%3C/path%3E%3C/svg%3E");
  }
}