.main-link {
  font-size: 1.125rem;
  font-weight: 700;
  transition: all .3s;
  color: black;

  &:visited {
    color: $dark-grey;
  }

  &:hover {
    color: $main-red;
  }

  &:focus {
    outline-color: $main-red;
  }
}