.section-title {
  position: relative;
  font-weight: bold;
  font-size: 1.875rem;
  line-height: 2.5rem;
  padding-left: 1.875rem;

  &::before,
  &::after {
    position: absolute;
    content: "";
    height: 1px;
    width: 100%;
    right: calc(100% - 1.25rem);
    background-color: $main-red;
  }

  &::before {
    top: calc(50% - 1px);
  }

  &::after {
    top: calc(50% + 2px);
  }
}