<section class="categories">
  <div class="container">
    <h2 class="section-title categories__title">
      Основные блюда
    </h2>
    <div class="categories-wrapper">
      <article class="categories__item">
        <a href="sushi.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Суши&Роллы
          </div>
          <img src="images/roll-1.jpg" alt="Суши&Роллы" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="pizza.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Пицца
          </div>
          <img src="images/pizza-05.jpg" alt="Пицца" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="pies.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Осетинские пироги
          </div>
          <img src="images/roll-2.jpg" alt="Осетинские пироги" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="hot.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Горячее
          </div>
          <img src="images/roll-2.jpg" alt="Горячее" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="salates.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Салаты
          </div>
          <img src="images/roll-2.jpg" alt="Салаты" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="fastfood.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Fast–food
          </div>
          <img src="images/roll-2.jpg" alt="Fast–food" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="wok.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Wok&Рис
          </div>
          <img src="images/roll-2.jpg" alt="Wok&Рис" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href=".children.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Детское меню
          </div>
          <img src="images/roll-2.jpg" alt="Детское меню" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="business.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Бизнес–ланч
          </div>
          <img src="images/roll-2.jpg" alt="Бизнес–ланч" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="deserts.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Десерты
          </div>
          <img src="images/roll-2.jpg" alt="Десерты" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="drinks.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Напитки
          </div>
          <img src="images/roll-2.jpg" alt="Напитки" class="categories__picture">
        </a>
      </article>
      <article class="categories__item">
        <a href="additional.html" class="categories__item-link flex">
          <div class="categories__item-title">
            Дополнительно
          </div>
          <img src="images/roll-2.jpg" alt="Дополнительно" class="categories__picture">
        </a>
      </article>
    </div>
  </div>
</section>