<section class='hero'>
  <div class='hero__carousel'>

    <div class='hero__slide'>
      <div class="hero__slide-wrapper" style='background-image: url("images/hero-slide-1.jpg");'>
        <div class='container'>
          <div class='hero__slide-inner flex --col'>
            <div class='hero__slide-title'>
              <div class='hero__slide-title --bg'>
                <span class='hero__slide-word --left'>Happy</span>
                <span class='hero__slide-word --right'>Birthday!</span>
              </div>
              <img src='images/birthday_hat.png' alt='Колпачёк' class='hero__title-img--positioned'>
              <span class='hero__title-word'>Happy</span>
              <img src='images/birthday_bubbles.png' class='hero__title-img' alt='Воздушные шарики'>
              <span class='hero__title-word'>Birthday</span>
            </div>
            <span class="hero__slide-text">Поздравляем с днём рождения и дарим скидку 10%*</span>
            <a href="menu.html" class="hero__slide-link">Перейти в меню</a>
            <div class="hero__slide-sub">*Скидка действует в течении трёх дней</div>
          </div>
        </div>
      </div>
    </div>

    <div class='hero__slide'>
      <div class="hero__slide-wrapper" style='background-image: url("images/hero-slide-1.jpg");'>
        <div class='container'>
          <div class='hero__slide-inner flex --col'>
            <div class='hero__slide-title'>
              <div class='hero__slide-title --bg'>
                <span class='hero__slide-word --left'>Happy</span>
                <span class='hero__slide-word --right'>Birthday!</span>
              </div>
              <img src='images/birthday_hat.png' alt='Колпачёк' class='hero__title-img--positioned'>
              <span class='hero__title-word'>Happy</span>
              <img src='images/birthday_bubbles.png' class='hero__title-img' alt='Воздушные шарики'>
              <span class='hero__title-word'>Birthday</span>
            </div>
            <span class="hero__slide-text">Поздравляем с днём рождения и дарим скидку 10%*</span>
            <a href="menu.html" class="hero__slide-link">Перейти в меню</a>
            <div class="hero__slide-sub">*Скидка действует в течении трёх дней</div>
          </div>
        </div>
      </div>
    </div>

    <div class='hero__slide'>
      <div class="hero__slide-wrapper" style='background-image: url("images/hero-slide-1.jpg");'>
        <div class='container'>
          <div class='hero__slide-inner flex --col'>
            <div class='hero__slide-title'>
              <div class='hero__slide-title --bg'>
                <span class='hero__slide-word --left'>Happy</span>
                <span class='hero__slide-word --right'>Birthday!</span>
              </div>
              <img src='images/birthday_hat.png' alt='Колпачёк' class='hero__title-img--positioned'>
              <span class='hero__title-word'>Happy</span>
              <img src='images/birthday_bubbles.png' class='hero__title-img' alt='Воздушные шарики'>
              <span class='hero__title-word'>Birthday</span>
            </div>
            <span class="hero__slide-text">Поздравляем с днём рождения и дарим скидку 10%*</span>
            <a href="menu.html" class="hero__slide-link">Перейти в меню</a>
            <div class="hero__slide-sub">*Скидка действует в течении трёх дней</div>
          </div>
        </div>
      </div>
    </div>

    <div class='hero__slide'>
      <div class="hero__slide-wrapper" style='background-image: url("images/hero-slide-1.jpg");'>
        <div class='container'>
          <div class='hero__slide-inner flex --col'>
            <div class='hero__slide-title'>
              <div class='hero__slide-title --bg'>
                <span class='hero__slide-word --left'>Happy</span>
                <span class='hero__slide-word --right'>Birthday!</span>
              </div>
              <img src='images/birthday_hat.png' alt='Колпачёк' class='hero__title-img--positioned'>
              <span class='hero__title-word'>Happy</span>
              <img src='images/birthday_bubbles.png' class='hero__title-img' alt='Воздушные шарики'>
              <span class='hero__title-word'>Birthday</span>
            </div>
            <span class="hero__slide-text">Поздравляем с днём рождения и дарим скидку 10%*</span>
            <a href="menu.html" class="hero__slide-link">Перейти в меню</a>
            <div class="hero__slide-sub">*Скидка действует в течении трёх дней</div>
          </div>
        </div>
      </div>
    </div>

    <div class='hero__slide'>
      <div class="hero__slide-wrapper" style='background-image: url("images/hero-slide-1.jpg");'>
        <div class='container'>
          <div class='hero__slide-inner flex --col'>
            <div class='hero__slide-title'>
              <div class='hero__slide-title --bg'>
                <span class='hero__slide-word --left'>Happy</span>
                <span class='hero__slide-word --right'>Birthday!</span>
              </div>
              <img src='images/birthday_hat.png' alt='Колпачёк' class='hero__title-img--positioned'>
              <span class='hero__title-word'>Happy</span>
              <img src='images/birthday_bubbles.png' class='hero__title-img' alt='Воздушные шарики'>
              <span class='hero__title-word'>Birthday</span>
            </div>
            <span class="hero__slide-text">Поздравляем с днём рождения и дарим скидку 10%*</span>
            <a href="menu.html" class="hero__slide-link">Перейти в меню</a>
            <div class="hero__slide-sub">*Скидка действует в течении трёх дней</div>
          </div>
        </div>
      </div>
    </div>

    <div class='hero__slide'>
      <div class="hero__slide-wrapper" style='background-image: url("images/hero-slide-1.jpg");'>
        <div class='container'>
          <div class='hero__slide-inner flex --col'>
            <div class='hero__slide-title'>
              <div class='hero__slide-title --bg'>
                <span class='hero__slide-word --left'>Happy</span>
                <span class='hero__slide-word --right'>Birthday!</span>
              </div>
              <img src='images/birthday_hat.png' alt='Колпачёк' class='hero__title-img--positioned'>
              <span class='hero__title-word'>Happy</span>
              <img src='images/birthday_bubbles.png' class='hero__title-img' alt='Воздушные шарики'>
              <span class='hero__title-word'>Birthday</span>
            </div>
            <span class="hero__slide-text">Поздравляем с днём рождения и дарим скидку 10%*</span>
            <a href="menu.html" class="hero__slide-link">Перейти в меню</a>
            <div class="hero__slide-sub">*Скидка действует в течении трёх дней</div>
          </div>
        </div>
      </div>
    </div>

  </div>
</section>