<section class="new">
  <div class="container">
    <h2 class="section-title new__title">
      Попробуйте новинки
    </h2>
    <div class="new__carousel">

      <div class="carousel-item__wrapper">
        <article class="product-item new__item flex --col --hot --new"
          style="background-image: url(../images/pizza-1.jpg);">
          <div class="product-item__top">
            <div class="product-item__ingridients flex --col">
              <p class="product-item__ingridients-list">Томатный соус, три вида сыра, помидоры, орегано</p>
              <p class="product-item__ingridients-text">6 шт—167 г</p>
            </div>
            <div class="product-item__labels flex">
              <div class="product-item__label product-item__label--hot"></div>
              <div class="product-item__label product-item__label--vegan"></div>
              <div class="product-item__label product-item__label--no-pork"></div>
              <div class="product-item__label product-item__label--new"></div>
            </div>
          </div>

          <div class="product-item__descr flex">
            <div class="product-item__text">
              <div class="product-item__name">Маргарита</div>
              <div class="product-item__price">390 р</div>
            </div>
            <div class="product-item__buttons flex">
              <button class="product-item__button product-item__button--minus">
                Убрать
              </button>
              <input type="number" class="product-item__count" name="Пицца" readonly value="0" min="0">
              <button class="product-item__button product-item__button--plus">
                Добавить
              </button>
            </div>
          </div>
        </article>
      </div>
      <div class="carousel-item__wrapper">
        <article class="product-item new__item flex --col --new" style="background-image: url(../images/pizza-1.jpg);">
          <div class="product-item__top">
            <div class="product-item__ingridients flex --col">
              <p class="product-item__ingridients-list">Томатный соус, три вида сыра, помидоры, орегано</p>
              <p class="product-item__ingridients-text">6 шт—167 г</p>
            </div>
            <div class="product-item__labels flex">
              <div class="product-item__label product-item__label--hot"></div>
              <div class="product-item__label product-item__label--vegan"></div>
              <div class="product-item__label product-item__label--no-pork"></div>
              <div class="product-item__label product-item__label--new"></div>
            </div>
          </div>

          <div class="product-item__descr flex">
            <div class="product-item__text">
              <div class="product-item__name">Маргарита</div>
              <div class="product-item__price">390 р</div>
            </div>
            <div class="product-item__buttons flex">
              <button class="product-item__button product-item__button--minus">
                Убрать
              </button>
              <input type="number" class="product-item__count" name="Пицца" readonly value="0" min="0">
              <button class="product-item__button product-item__button--plus">
                Добавить
              </button>
            </div>
          </div>
        </article>
      </div>
      <div class="carousel-item__wrapper">
        <article class="product-item new__item flex --col --no-pork --vegan --new"
          style="background-image: url(../images/pizza-1.jpg);">
          <div class="product-item__top">
            <div class="product-item__ingridients flex --col">
              <p class="product-item__ingridients-list">Томатный соус, три вида сыра, помидоры, орегано</p>
              <p class="product-item__ingridients-text">6 шт—167 г</p>
            </div>
            <div class="product-item__labels flex">
              <div class="product-item__label product-item__label--hot"></div>
              <div class="product-item__label product-item__label--vegan"></div>
              <div class="product-item__label product-item__label--no-pork"></div>
              <div class="product-item__label product-item__label--new"></div>
            </div>
          </div>

          <div class="product-item__descr flex">
            <div class="product-item__text">
              <div class="product-item__name">Маргарита</div>
              <div class="product-item__price">390 р</div>
            </div>
            <div class="product-item__buttons flex">
              <button class="product-item__button product-item__button--minus">
                Убрать
              </button>
              <input type="number" class="product-item__count" name="Пицца" readonly value="0" min="0">
              <button class="product-item__button product-item__button--plus">
                Добавить
              </button>
            </div>
          </div>
        </article>
      </div>
      <div class="carousel-item__wrapper">
        <article class="product-item new__item flex --col --hot --vegan --no-pork --new"
          style="background-image: url(../images/pizza-1.jpg);">
          <div class="product-item__top">
            <div class="product-item__ingridients flex --col">
              <p class="product-item__ingridients-list">Томатный соус, три вида сыра, помидоры, орегано</p>
              <p class="product-item__ingridients-text">6 шт—167 г</p>
            </div>
            <div class="product-item__labels flex">
              <div class="product-item__label product-item__label--hot"></div>
              <div class="product-item__label product-item__label--vegan"></div>
              <div class="product-item__label product-item__label--no-pork"></div>
              <div class="product-item__label product-item__label--new"></div>
            </div>
          </div>

          <div class="product-item__descr flex">
            <div class="product-item__text">
              <div class="product-item__name">Маргарита</div>
              <div class="product-item__price">390 р</div>
            </div>
            <div class="product-item__buttons flex">
              <button class="product-item__button product-item__button--minus">
                Убрать
              </button>
              <input type="number" class="product-item__count" name="Пицца" readonly value="0" min="0">
              <button class="product-item__button product-item__button--plus">
                Добавить
              </button>
            </div>
          </div>
        </article>
      </div>
      <div class="carousel-item__wrapper">
        <article class="product-item new__item flex --col --hot --vegan --new"
          style="background-image: url(../images/pizza-1.jpg);">
          <div class="product-item__top">
            <div class="product-item__ingridients flex --col">
              <p class="product-item__ingridients-list">Томатный соус, три вида сыра, помидоры, орегано</p>
              <p class="product-item__ingridients-text">6 шт—167 г</p>
            </div>
            <div class="product-item__labels flex">
              <div class="product-item__label product-item__label--hot"></div>
              <div class="product-item__label product-item__label--vegan"></div>
              <div class="product-item__label product-item__label--no-pork"></div>
              <div class="product-item__label product-item__label--new"></div>
            </div>
          </div>

          <div class="product-item__descr flex">
            <div class="product-item__text">
              <div class="product-item__name">Маргарита</div>
              <div class="product-item__price">390 р</div>
            </div>
            <div class="product-item__buttons flex">
              <button class="product-item__button product-item__button--minus">
                Убрать
              </button>
              <input type="number" class="product-item__count" name="Пицца" readonly value="0" min="0">
              <button class="product-item__button product-item__button--plus">
                Добавить
              </button>
            </div>
          </div>
        </article>
      </div>
      <div class="carousel-item__wrapper">
        <article class="product-item new__item flex --col --vegan --new"
          style="background-image: url(../images/pizza-1.jpg);">
          <div class="product-item__top">
            <div class="product-item__ingridients flex --col">
              <p class="product-item__ingridients-list">Томатный соус, три вида сыра, помидоры, орегано</p>
              <p class="product-item__ingridients-text">6 шт—167 г</p>
            </div>
            <div class="product-item__labels flex">
              <div class="product-item__label product-item__label--hot"></div>
              <div class="product-item__label product-item__label--vegan"></div>
              <div class="product-item__label product-item__label--no-pork"></div>
              <div class="product-item__label product-item__label--new"></div>
            </div>
          </div>

          <div class="product-item__descr flex">
            <div class="product-item__text">
              <div class="product-item__name">Маргарита</div>
              <div class="product-item__price">390 р</div>
            </div>
            <div class="product-item__buttons flex">
              <button class="product-item__button product-item__button--minus">
                Убрать
              </button>
              <input type="number" class="product-item__count" name="Пицца" readonly value="0" min="0">
              <button class="product-item__button product-item__button--plus">
                Добавить
              </button>
            </div>
          </div>
        </article>
      </div>

    </div>
  </div>
</section>