              <!-- SECTION - offer-item -->
              <div class="cart__offer-item flex">
                <button class="cart__offer-delete remove-btn" type="button"></button>
                <div class="cart__offer-descr">
                  <p class="cart__offer-title"> Пицца «Мечта боцмана с большого корабля»
                  </p>
                  <p class="cart__offer-ingridients">Томатны соус, три вида сыра,
                    помидоры, орегано</p>
                </div>
                <span class="cart__offer-size">25 см</span>
                <div class="cart__offer-count flex">
                  <button type="button" class="cart__offer-minus product-item__button product-item__button--minus">
                    Убрать
                  </button>
                  <input type="number" class="cart__offer-count-input number product-item__count" name="Пицца" readonly
                    value="1" min="1">
                  <button type="button" class="cart__offer-plus product-item__button product-item__button--plus">
                    Добавить
                  </button>
                  <div class="cart__product-icon cart__product-icon--1"
                    style="background-image: url(images/pizza-1.jpg);"></div>
                  <div class="cart__product-icon  cart__product-icon--2"
                    style="background-image: url(images/pizza-1.jpg);"></div>
                  <div class="cart__product-icon  cart__product-icon--3"
                    style="background-image: url(images/pizza-1.jpg);"></div>
                  <div class="cart__product-icon  cart__product-icon--4">...
                  </div>
                </div>
                <p class="cart__offer-price">870 р</p>
              </div>
              <!-- !SECTION -->