<aside class="menu__aside">
  <nav class="aside__nav">
    <ul class="aside__nav-list">
      <li class="aside__nav-item --current">
        <a href="sushi.html" class="aside__nav-link">
          Суши&Роллы
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Пицца
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Осетинские пироги
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Горячее
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Салаты
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Fast–food
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Wok&Рис
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Детское меню
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Бизнес–ланч
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Десерты
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Напитки
        </a>
      </li>
      <li class="aside__nav-item">
        <a href="#" class="aside__nav-link">
          Дополнительно
        </a>
      </li>
    </ul>
  </nav>
</aside>