<div class="modal" role="dialog" aria-modal="true">
  <div class="modal__overlay" tabindex="0"></div>
  <div class="modal__wrapper" id="modal-login">
    <button class="modal__close">Закрыть</button>
    <p class="modal__title">Личный кабинет</p>
    <form class="modal__form">
      <label for="modal-login__phone" class="modal__form-label">
        <input type="tel" class="modal__form-input form-input" id="modal-login__phone" required placeholder="Телефон"
          name="Телефон">
      </label>
      <label for="modal-login__pass" class="modal__form-label">
        <input type="password" class="modal__form-input form-input" id="modal-login__pass" required placeholder="Пароль"
          name="Пароль">
      </label>
      <div class="modal__btn-box flex">
        <button class="modal__btn btn btn--red  btn--s" type="submit">Войти</button>
        <button class="modal__btn btn btn--transparent btn--l" data-modal="#modal-registration"
          type="button">Зарегистрироваться</button>
        <button class="modal__btn modal__pass-reset" type="button" data-modal="#modal-password">Восстановить
          пароль</button>
      </div>
    </form>
  </div>

  <div class="modal__wrapper" id="modal-registration">
    <button class="modal__close">Закрыть</button>
    <p class="modal__title">Регистрация</p>
    <form class="modal__form flex --col">
      <label for="modal-reg__name" class="modal__form-label">
        <input type="text" class="modal__form-input form-input" required placeholder="Имя" name="Имя"
          id="modal-reg__name">
      </label>
      <label for="modal-reg__phone" class="modal__form-label">
        <input type="tel" class="modal__form-input form-input" required placeholder="Телефон" name="Телефон"
          id="modal-reg__phone">
      </label>
      <label for="modal-reg__email" class="modal__form-label">
        <input type="email" class="modal__form-input form-input" required placeholder="E–mail" name="E–mail"
          id="modal-reg__email">
      </label>
      <label for="modal-reg__birthday" class="modal__form-label modal__form-label--ph">
        <input type="date" class="modal__form-input form-input" required name="Дата-рождения" id="modal-reg__birthday"
          pattern="[0-9]{4}-[0-9]{2}-[0-9]{2}">
        <span class="modal__form-placeholder">Дата рождения</span>
      </label>
      <label for="modal-reg__password" class="modal__form-label">
        <input type="password" class="modal__form-input form-input" required placeholder="Пароль" name="Пароль"
          id="modal-reg__password">
      </label>
      <label for="modal-reg__pers" class="modal__form-label modal__form-label--check flex">
        <input class="modal__form-check" type="checkbox" name="Согласие на обработку персональных данных"
          id="modal-reg__pers" checked>
        <span class="modal__check-descr">Согласен на обработку персональных данных</span>
      </label>
      <div class="modal__btn-box flex">
        <button class="modal__btn btn btn--red btn--l" type="submit">Зарегистрироваться</button>
        <button class="modal__btn btn btn--transparent btn--s" type="reset">Отмена</button>
      </div>
    </form>
  </div>

  <div class="modal__wrapper" id="modal-password">
    <button class="modal__close">Закрыть</button>
    <p class="modal__title">Восстановление пароля</p>
    <form class="modal__form">
      <label for="modal__reset-email" class="modal__form-label">
        <input type="email" class="modal__form-input form-input" required placeholder="E–mail*" name="e-mail"
          id="modal__reset-email">
      </label>
      <p class="modal____form-descr">
        *На Вашу почту придет письмо с инструкцией
      </p>
      <div class="modal__btn-box flex">
        <button class="modal__btn btn btn--red btn--l" type="submit">Отправить</button>
        <button class="modal__btn btn btn--transparent btn--s" type="reset">Отмена</button>
      </div>
    </form>
  </div>
</div>