<!DOCTYPE html>
<html lang="en">
@@include('components/_head.html')

<body>
  <div class="content-wrapper flex --col">
    @@include('components/_header.html')
    @@include('components/_pagination.html')
    <main class="main">
      <!-- WRITE CODE HERE -->
      <div class="container">
        <h2 class="page-title section-">Личный кабинет</h2>

      </div>
      <!-- STOP WRITE CODE -->
    </main>
    @@include('components/_footer.html')
  </div>
  @@include('components/_modal.html')
  @@include('components/_scripts.html')
</body>

</html>