.modal {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1010;

  &__overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f3f3f380;
  }

  &__wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 30rem;
    transform: translate(-50%, -50%);
    padding: 3.75rem;
    background: #FFFFFF;
    box-shadow: 0px 1.25rem 1.25rem rgba(0, 0, 0, 0.05);
    border-radius: 0.3125rem;
    display: none;
    z-index: 1011;
  }

  &__close {
    display: block;
    position: absolute;
    font-size: 0;
    top: 1.25rem;
    right: 1.25rem;
    border: none;
    height: 1.5rem;
    width: 1.5rem;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    background-color: transparent;
    background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9528 15.9853C22.1862 14.5231 20.6456 13.405 19.4169 12.3386C18.1035 11.1987 16.7378 10.1196 15.3756 9.03798C16.9334 7.04474 18.5184 5.06709 20.0706 3.06149C20.3678 3.04817 20.5855 2.72402 20.5332 2.42566C20.6802 2.05149 20.2031 1.65032 19.8451 1.80184C19.156 1.39383 18.3982 1.04185 17.6885 0.710742C17.4019 0.576979 17.0722 0.863699 17.1715 1.12487C15.4667 2.8669 13.7009 4.55159 11.9174 6.21949C11.1726 5.58703 10.4379 4.94256 9.72199 4.27747C9.71863 4.27435 9.71551 4.27075 9.71215 4.26763C9.7106 4.14743 9.65853 4.02614 9.53592 3.92465C9.50053 3.89538 9.46214 3.87042 9.42604 3.84223L9.42724 3.84067C9.42268 3.83827 9.41824 3.83539 9.41368 3.83287C9.27728 3.72682 9.1398 3.62233 8.99944 3.52216C8.32463 2.75521 7.67657 1.89493 6.91251 1.27674C6.89967 0.902808 6.50882 0.53679 6.09254 0.78932C4.68966 1.6406 2.97534 2.51948 1.89337 3.78093C1.85918 3.82076 1.83315 3.86179 1.81239 3.90365C1.52388 3.90365 1.29282 4.33013 1.53779 4.57979C3.48472 6.56403 5.724 8.24093 7.91111 9.94853C5.47867 12.2129 3.07624 14.5047 0.798561 16.9128C0.788964 16.9213 0.778767 16.9246 0.769409 16.9344C0.561028 17.1482 0.356126 17.3655 0.154943 17.586C-0.190799 17.9587 0.0967599 18.4533 0.474413 18.5246C1.16638 19.6555 2.22664 20.4964 3.30981 21.2361C4.04424 21.7378 5.3839 22.656 6.30848 22.2004C6.48063 22.2311 6.66274 22.1813 6.75355 22C8.27244 18.9687 10.0929 16.1543 12.0533 13.4364C13.1545 14.4039 14.2473 15.381 15.35 16.3416C15.6737 16.6236 19.2594 20.4162 19.8752 19.1544C19.9598 19.1774 20.0481 19.1881 20.1354 19.172C20.696 19.07 21.1398 18.3638 21.4461 17.9457C21.7629 17.5136 22.0894 17.0568 22.3669 16.5871C22.7436 16.8417 23.1377 16.338 22.9528 15.9853ZM2.59745 16.7755C2.56962 16.8509 2.5635 16.9299 2.56866 17.008C2.43118 17.084 2.33724 17.2147 2.3009 17.3628C2.1585 17.3753 2.02149 17.4226 1.90333 17.5111C1.88653 17.5041 1.8701 17.497 1.8533 17.49C2.10007 17.2511 2.3478 17.0128 2.59745 16.7755ZM6.12421 21.2392C6.02392 21.1919 5.91955 21.1579 5.81458 21.1241C5.98709 21.0642 6.14545 20.9784 6.28952 20.869C6.23542 20.9927 6.17724 21.115 6.12421 21.2392ZM8.712 9.20138C7.48475 8.20937 6.2413 7.23693 4.99377 6.27035C5.3875 6.5416 5.79347 6.79377 6.21095 7.0283C7.03331 7.76502 7.88243 8.47462 8.73947 9.17583C8.73011 9.18446 8.721 9.19298 8.712 9.20138Z' fill='black'/%3E%3C/svg%3E%0A");
    transition: all .26s;
    cursor: pointer;

    &:hover {
      background-image: url("data:image/svg+xml,%3Csvg width='23' height='23' viewBox='0 0 23 23' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22.9528 15.9853C22.1862 14.5231 20.6456 13.405 19.4169 12.3386C18.1035 11.1987 16.7378 10.1196 15.3756 9.03798C16.9334 7.04474 18.5184 5.06709 20.0706 3.06149C20.3678 3.04817 20.5855 2.72402 20.5332 2.42566C20.6802 2.05149 20.2031 1.65032 19.8451 1.80184C19.156 1.39383 18.3982 1.04185 17.6885 0.710742C17.4019 0.576979 17.0722 0.863699 17.1715 1.12487C15.4667 2.8669 13.7009 4.55159 11.9174 6.21949C11.1726 5.58703 10.4379 4.94256 9.72199 4.27747C9.71863 4.27435 9.71551 4.27075 9.71215 4.26763C9.7106 4.14743 9.65853 4.02614 9.53592 3.92465C9.50053 3.89538 9.46214 3.87042 9.42604 3.84223L9.42724 3.84067C9.42268 3.83827 9.41824 3.83539 9.41368 3.83287C9.27728 3.72682 9.1398 3.62233 8.99944 3.52216C8.32463 2.75521 7.67657 1.89493 6.91251 1.27674C6.89967 0.902808 6.50882 0.53679 6.09254 0.78932C4.68966 1.6406 2.97534 2.51948 1.89337 3.78093C1.85918 3.82076 1.83315 3.86179 1.81239 3.90365C1.52388 3.90365 1.29282 4.33013 1.53779 4.57979C3.48472 6.56403 5.724 8.24093 7.91111 9.94853C5.47867 12.2129 3.07624 14.5047 0.798561 16.9128C0.788964 16.9213 0.778767 16.9246 0.769409 16.9344C0.561028 17.1482 0.356126 17.3655 0.154943 17.586C-0.190799 17.9587 0.0967599 18.4533 0.474413 18.5246C1.16638 19.6555 2.22664 20.4964 3.30981 21.2361C4.04424 21.7378 5.3839 22.656 6.30848 22.2004C6.48063 22.2311 6.66274 22.1813 6.75355 22C8.27244 18.9687 10.0929 16.1543 12.0533 13.4364C13.1545 14.4039 14.2473 15.381 15.35 16.3416C15.6737 16.6236 19.2594 20.4162 19.8752 19.1544C19.9598 19.1774 20.0481 19.1881 20.1354 19.172C20.696 19.07 21.1398 18.3638 21.4461 17.9457C21.7629 17.5136 22.0894 17.0568 22.3669 16.5871C22.7436 16.8417 23.1377 16.338 22.9528 15.9853ZM2.59745 16.7755C2.56962 16.8509 2.5635 16.9299 2.56866 17.008C2.43118 17.084 2.33724 17.2147 2.3009 17.3628C2.1585 17.3753 2.02149 17.4226 1.90333 17.5111C1.88653 17.5041 1.8701 17.497 1.8533 17.49C2.10007 17.2511 2.3478 17.0128 2.59745 16.7755ZM6.12421 21.2392C6.02392 21.1919 5.91955 21.1579 5.81458 21.1241C5.98709 21.0642 6.14545 20.9784 6.28952 20.869C6.23542 20.9927 6.17724 21.115 6.12421 21.2392ZM8.712 9.20138C7.48475 8.20937 6.2413 7.23693 4.99377 6.27035C5.3875 6.5416 5.79347 6.79377 6.21095 7.0283C7.03331 7.76502 7.88243 8.47462 8.73947 9.17583C8.73011 9.18446 8.721 9.19298 8.712 9.20138Z' fill='%23ED3237'/%3E%3C/svg%3E%0A");
    }

  }
      &__ok{
        display: block;
        margin: 0 auto;
      }

  &__title {
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin-bottom: 3rem;
  }

  &__text {
    text-align: center;
    font-size: 1.125rem;
    line-height: 1.5rem;
    margin: 1.5rem 0;
  }

  &__form {
    width: 100%;
  }

  &__form-label {
    width: 100%;
    position: relative;
    display: block;

    &+& {
      margin-top: 10px;
    }

    &--check.flex {
      margin: 1.25rem 0;
      align-items: center;
      justify-content: flex-start;
    }
  }

  &__form-check {
    opacity: 0;

    &:checked+.modal__check-descr::after {
      opacity: 1;
    }

    &:focus+.modal__check-descr::before {
      outline: 2px solid #ed323860;
    }
  }

  &__check-descr {
    padding-left: 0.875rem;
    font-size: 0.875rem;
    line-height: 1.1875rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
      height: 1.25rem;
      width: 1.25rem;
    }

    &::before {
      border: 1px solid $main-red;
    }

    &::after {
      background-position: center;
      background-size: 14px 14px;
      background-repeat: no-repeat;
      background-image: url("data:image/svg+xml,%3Csvg width='14' height='13' viewBox='0 0 14 13' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M3.87302 12.6016C3.75321 12.6635 3.61012 12.6715 3.4662 12.5276L0.18305 9.17492C-0.10727 8.8786 -0.039662 8.48828 0.296857 8.24527C0.72695 7.93464 1.302 7.42831 1.78727 6.68801C2.01453 6.34093 2.33938 6.31765 2.56403 6.66626L3.37387 7.92346C3.59886 8.27241 3.85769 8.70996 3.99663 8.66079C4.05299 8.6409 4.12135 8.59208 4.20284 8.49553L10.7847 0.222263C11.0431 -0.10224 11.4078 -0.0673655 11.5998 0.300368L13.4681 3.88406C13.66 4.25179 13.5534 4.76075 13.23 5.02068L4.77188 11.8177C4.44883 12.0776 4.09318 12.4885 3.87302 12.6016Z' fill='black'/%3E%3C/svg%3E%0A");
      opacity: 0;
      transition: all .26s;
    }
  }

  &__btn-box {
    flex-wrap: wrap;
    margin-top: 1.25rem;
  }

  &__pass-reset {
    display: block;
    flex: 0 0 8.7rem;
    margin: 1.25rem auto 0;
    text-align: center;
    border: none;
    background-color: transparent;
    color: #a8a8a8;
    cursor: pointer;
    transition: all .26s;
    font-size: 0.8125rem;
    position: relative;
    padding: 0 0 0.25rem 0;

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.0625rem;
      bottom: 0;
      background-color: #a8a8a8;
      left: 0;
      right: 0
    }

    &:hover,
    &:focus {
      outline: transparent;
      color: #000000;

      &::after {
        background-color: #000000;
      }
    }
  }

  &__radio-wrapper {
    text-align: center;
    margin-bottom: 1.25rem;
  }

  &__radio {

    &.cart__radio {
      display: inline;
      margin-left: 0;

      &:last-of-type {
        margin-left: 1.25rem;
      }
    }

    &--hidden {
      height: 0;
      width: 0;
      visibility: hidden;
      display: block;
    }
  }

  &__pay-btn {
    width: 100%;
  }

  &__pay {
    .modal__title {
      margin: 0 0 1.25rem 0;

      &--sub {
        text-transform: none;
        margin-top: 1.25rem;
      }
    }
  }
}