.product-item {
  position: relative;
  padding-top: 0.25rem;
  min-height: 32rem;
  width: 100%;
  background-size: contain;
  background-position: center top;
  background-repeat: no-repeat;
  box-shadow: 0px 0.625rem 0.625rem rgba(0, 0, 0, 0.25);

  &--options &__options {
    display: block;
  }

  &:hover {
    .product-item__ingridients {
      left: 0;
    }
  }

  &__top {
    overflow: hidden;
    position: relative;
    flex-grow: 1;
    width: 100%;
    min-height: 25rem;
  }

  &__ingridients {
    position: absolute;
    left: -50%;
    width: 50%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    transition: all ease-out .3s;
    justify-content: center;
    padding: 1.875rem;
  }

  &__ingridients-list {
    font-size: 0.875rem;
    margin-top: auto;
  }

  &__ingridients-text {
    font-size: 0.625rem;
    margin-top: auto;
  }

  &__ingridients-btn {
    position: absolute;
    font-size: 0;
    right: 0;
    bottom: 0;
    transform: translateX(100%);
    background-color: #DDDDDDaa;
    height: 3.5rem;
    width: 3.5rem;
    padding: 1.25rem;
    border: none;
    display: none;
    transition: all 0.26s;

    &:focus {
      outline: transparent;
    }
  }

  &__ingridients-icon {
    fill: #000000;
  }

  &__labels {
    justify-content: flex-start;
    padding: 0 0.5rem;
  }

  &__label {
    height: 5.25rem;
    width: 5.25rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    display: none;
    padding: 0 0.25rem;

    &--hot {
      background-image: url("data:image/svg+xml,%3Csvg width='56' height='62' viewBox='0 0 56 62' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M32.7365 17.2646C32.7365 17.2646 29.6461 45.5089 0 61.4114C0 61.4114 40.696 61.3764 56 24.2209C47.6334 16.957 32.7365 17.2646 32.7365 17.2646ZM38.2081 27.4907C37.4216 28.8702 36.7202 30.2932 35.8996 31.6531C35.0158 33.1167 31.1298 39.1536 27.4712 43.2372C27.0117 43.7501 26.5166 44.2321 26.0385 44.7285C25.5119 45.2359 24.9945 45.7551 24.4558 46.25C23.9384 46.7252 23.4077 47.1876 22.8832 47.6555C22.3153 48.1268 21.7481 48.5986 21.1804 49.0702C21.6787 48.53 22.1767 47.9896 22.6745 47.4488C23.128 46.92 23.5893 46.3966 24.0349 45.8611C24.4959 45.3067 24.9344 44.7322 25.3823 44.1671C26.001 43.3245 26.6213 42.4859 27.2035 41.6181C27.7995 40.7293 28.3663 39.8259 28.9287 38.9167C29.5667 37.8011 30.1865 36.6804 30.7848 35.5437L31.1066 34.8887C32.4664 31.9727 33.8149 29.0489 34.8623 26.0062C35.2807 24.7899 35.5953 23.5464 35.8925 22.297C36.0075 21.6425 36.125 20.9884 36.2407 20.3342L40.6128 21.3885C40.6128 21.3888 39.6271 25.0025 38.2081 27.4907Z' fill='%23ED3237'/%3E%3Cpath d='M53.1737 19.4117L53.7006 18.0643C52.6209 16.8791 51.4119 15.9225 50.0855 15.2024C52.6658 10.0894 52.4157 3.92062 50.6428 0.674316L48.3537 3.51718C48.3537 3.51718 48.946 8.34536 45.1895 13.6877C42.3391 13.3764 40.2171 14.0283 40.1056 14.0638L39.8663 15.3745C43.6232 15.8935 48.7332 17.0109 53.1737 19.4117Z' fill='%23ED3237'/%3E%3C/svg%3E%0A");
    }

    &--vegan {
      background-image: url("data:image/svg+xml,%3Csvg width='57' height='57' viewBox='0 0 57 57' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M56.328 12.9362C55.9036 12.7661 55.2259 12.4126 54.4182 12.1998C53.6105 11.9746 52.5192 11.6003 51.4062 11.5061C50.2819 11.3901 49.0109 11.3559 47.6218 11.4222C46.2658 11.5313 44.8892 11.8158 43.413 12.1928C41.9384 12.5688 40.5894 13.1945 39.1483 13.879C37.742 14.5871 36.4601 15.4706 35.1766 16.4327C33.9635 17.4264 32.8126 18.5264 31.7603 19.696C30.7788 20.8977 29.8033 22.1342 29.052 23.4535C28.2773 24.7638 27.6093 26.1131 27.1259 27.4928C26.092 30.2246 25.68 33.0355 25.6367 35.5389C25.6405 36.809 25.7163 37.9877 25.8754 39.0707C26.0146 40.1472 26.2874 41.1409 26.498 41.9441C26.583 42.3212 26.7026 42.6816 26.8206 43.0004C27.0279 42.5704 27.2531 42.1169 27.5043 41.6206C28.7521 39.1755 30.571 35.9913 32.6978 33.0093C33.7572 31.5161 34.9195 30.0962 36.0525 28.8127C36.6528 28.1961 37.2331 27.603 37.7809 27.0404C38.3699 26.5179 38.9259 26.0227 39.4352 25.567C39.9879 25.1568 40.4914 24.7836 40.9396 24.4509C41.3694 24.0985 41.8193 23.8937 42.1565 23.6819C42.844 23.2797 43.2365 23.0503 43.2365 23.0503C43.2365 23.0503 42.8624 23.3113 42.2101 23.7626C41.8929 24.0022 41.4669 24.2349 41.0668 24.6172C40.6522 24.9788 40.185 25.3857 39.674 25.8296C39.2057 26.3195 38.6996 26.8452 38.1642 27.4035C37.6716 27.9966 37.1508 28.6223 36.6138 29.2705C35.6005 30.6193 34.5817 32.0905 33.6647 33.6318C31.8182 36.7004 30.296 39.9461 29.2718 42.4164C28.9838 43.1121 28.7413 43.7341 28.5328 44.2833C28.9713 44.1678 29.5283 44.0453 30.1292 43.8261C30.8914 43.5646 31.8756 43.295 32.8294 42.9105C33.8059 42.5415 34.8469 42.1056 35.8971 41.6094C36.9641 41.1205 38.0034 40.5462 39.0682 39.9419C40.1319 39.3402 41.1394 38.6519 42.1403 37.9438C43.1125 37.208 44.0777 36.4646 44.9536 35.6415C45.8192 34.7955 46.6934 34.0019 47.4491 33.0847C49.0033 31.3257 50.3274 29.4443 51.4062 27.4586C51.9676 26.5233 52.4342 25.4344 52.8917 24.4504C53.3545 23.4738 53.7475 22.3903 54.1389 21.3967C54.5335 20.4212 54.8984 19.4329 55.2205 18.4703C55.5707 17.4788 55.8766 16.6145 56.1304 15.9043C56.4233 15.1979 56.6063 14.4593 56.7714 14.0245C56.9235 13.5336 57.0014 13.2742 57.0014 13.2742C57.0014 13.2742 56.7654 13.133 56.328 12.9362Z' fill='%23005A00'/%3E%3Cpath d='M21.886 34.9166C20.3746 33.8695 18.939 32.7207 17.6392 31.6003C17.0167 31.011 16.4158 30.4361 15.8453 29.8949C15.3153 29.313 14.8173 28.7638 14.3523 28.2605C13.9381 27.7166 13.5614 27.215 13.2231 26.7743C12.8663 26.3491 12.6617 25.9053 12.4457 25.5721C12.0375 24.8945 11.8058 24.5052 11.8058 24.5052C11.8058 24.5052 12.07 24.8747 12.5291 25.5191C12.7678 25.832 13.0049 26.2523 13.3941 26.6476C13.76 27.0588 14.1715 27.5204 14.6213 28.0252C15.1161 28.4862 15.6493 28.9878 16.2144 29.5146C16.8137 30.0013 17.4492 30.5158 18.1042 31.0463C19.4678 32.0437 20.9587 33.0539 22.5177 33.9598C23.163 34.3406 23.8169 34.6754 24.4687 35.0193C24.6841 31.5752 25.3997 28.1707 26.471 25.0699C25.8572 24.2859 25.2346 23.5142 24.5499 22.8077C23.694 21.951 22.8939 21.0873 21.9623 20.3418C20.1808 18.8064 18.2785 17.4988 16.2691 16.4313C15.3223 15.8767 14.2186 15.4158 13.2225 14.9644C12.2362 14.5071 11.1405 14.1173 10.1342 13.7327C9.14574 13.3445 8.14645 12.9851 7.17097 12.6669C6.16788 12.3182 5.29526 12.016 4.57366 11.7652C3.85856 11.4775 3.10936 11.2951 2.67088 11.132C2.17611 10.9839 1.91248 10.9053 1.91248 10.9053C1.91248 10.9053 1.76578 11.1411 1.56494 11.5727C1.39442 11.9909 1.03606 12.6615 0.819529 13.4595C0.592712 14.2547 0.212697 15.3334 0.12013 16.4335C0.000495394 17.5453 -0.0336085 18.8026 0.0351406 20.1744C0.142324 21.513 0.429771 22.8708 0.812492 24.3314C1.19575 25.7871 1.82749 27.1214 2.51931 28.5461C3.23711 29.9318 4.13031 31.1982 5.10741 32.4683C6.11267 33.6689 7.22618 34.8054 8.40953 35.8466C9.62374 36.813 10.878 37.7772 12.2156 38.5222C13.5392 39.2875 14.9055 39.948 16.3016 40.4239C19.0656 41.447 21.9109 41.8534 24.447 41.8973C24.5553 41.8973 24.6478 41.8861 24.7507 41.8829C24.4795 40.1277 24.381 38.3361 24.4145 36.537C23.5728 36.0145 22.7272 35.5022 21.886 34.9166Z' fill='%23005A00'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='57' height='56.312' fill='white' transform='translate(0 0.425781)'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &--no-pork {
      background-image: url("data:image/svg+xml,%3Csvg width='70' height='70' viewBox='0 0 70 70' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M19.4967 26.9595C16.5984 26.9595 14.2405 29.3172 14.2405 32.2155C14.2405 35.1138 16.5984 37.4717 19.4967 37.4717C22.3949 37.4717 24.7527 35.1138 24.7527 32.2155C24.7527 29.3172 22.3948 26.9595 19.4967 26.9595ZM19.4967 36.2684C17.2619 36.2684 15.4438 34.4503 15.4438 32.2155C15.4438 29.9809 17.2619 28.1628 19.4967 28.1628C21.7314 28.1628 23.5494 29.9809 23.5494 32.2155C23.5494 34.4503 21.7313 36.2684 19.4967 36.2684Z' fill='%23ED3237'/%3E%3Cpath d='M20.7906 31.9224C20.4584 31.9224 20.189 32.1916 20.189 32.524C20.189 32.8564 20.4584 33.1257 20.7906 33.1257H21.9619C22.2942 33.1257 22.5636 32.8564 22.5636 32.524C22.5636 32.1916 22.2942 31.9224 21.9619 31.9224H20.7906Z' fill='%23ED3237'/%3E%3Cpath d='M18.202 31.9224H17.0307C16.6985 31.9224 16.4291 32.1916 16.4291 32.524C16.4291 32.8564 16.6985 33.1257 17.0307 33.1257H18.202C18.5343 33.1257 18.8037 32.8564 18.8037 32.524C18.8037 32.1916 18.5343 31.9224 18.202 31.9224Z' fill='%23ED3237'/%3E%3Cpath d='M14.6726 26.9762C14.6726 26.6438 14.4032 26.3745 14.0709 26.3745H11.3584C11.0261 26.3745 10.7567 26.6438 10.7567 26.9762C10.7567 27.3086 11.0261 27.5778 11.3584 27.5778H14.0709C14.4032 27.5778 14.6726 27.3086 14.6726 26.9762Z' fill='%23ED3237'/%3E%3Cpath d='M27.6339 26.3745H24.9214C24.5891 26.3745 24.3197 26.6438 24.3197 26.9762C24.3197 27.3086 24.5891 27.5778 24.9214 27.5778H27.6339C27.9661 27.5778 28.2355 27.3086 28.2355 26.9762C28.2355 26.6439 27.9661 26.3745 27.6339 26.3745Z' fill='%23ED3237'/%3E%3Cpath d='M64.4383 19.0761C63.786 18.4592 62.001 17.598 59.9154 18.7569C58.8276 19.3612 58.2707 20.2262 58.0605 21.0504C57.9849 21.0994 57.9104 21.1505 57.8364 21.2026C57.6105 20.8294 57.3755 20.4601 57.1291 20.0954C57.0286 19.9465 56.8668 19.8503 56.688 19.8332C56.5092 19.8165 56.3321 19.8796 56.205 20.0068L20.0062 56.2055C19.8792 56.3323 19.8155 56.5096 19.8327 56.6884C19.8499 56.8673 19.9461 57.029 20.0949 57.1295C24.616 60.1818 29.8056 61.6739 34.9719 61.6739C41.8632 61.6739 48.7114 59.0172 53.8641 53.8645C61.7174 46.0112 63.7705 34.2228 59.461 24.3392C59.5376 24.3735 59.6157 24.4048 59.6964 24.4304C61.127 24.8844 62.2486 24.1664 62.6169 23.2221C62.9482 22.3728 62.6931 21.1734 61.3503 20.5475C60.8386 20.3089 60.3173 20.2563 59.8029 20.3341C59.996 20.1362 60.2297 19.9589 60.4997 19.8087C62.3182 18.7981 63.5627 19.9061 63.6113 19.9504C63.8525 20.1783 64.2332 20.1682 64.4618 19.9268C64.6903 19.6853 64.6797 19.3045 64.4383 19.0761ZM56.5324 21.3809C56.6563 21.5762 56.7759 21.7731 56.8939 21.9706C56.3042 22.5159 55.8107 23.0913 55.4689 23.5244C55.3197 23.3072 55.1658 23.1004 55.0067 22.9069L56.5324 21.3809ZM56.7922 39.0359H46.4032C46.0709 39.0359 45.8015 39.3051 45.8015 39.6375C45.8015 39.9699 46.0709 40.2392 46.4032 40.2392H56.5653C56.3856 41.0903 56.1712 41.9183 55.9326 42.7166H51.7826C51.4504 42.7166 51.181 42.9858 51.181 43.3182C51.181 43.6506 51.4504 43.9199 51.7826 43.9199H55.5487C54.0832 48.2352 52.0441 51.4844 51.4447 52.3907H49.2397C48.7302 51.1253 47.093 46.9423 46.8431 44.845C46.8172 44.628 46.6741 44.4432 46.4717 44.3605C46.2692 44.2777 46.0364 44.3128 45.8658 44.4496C45.8284 44.4796 42.134 47.3316 30.8426 47.0707L35.6922 42.2211H40.4574C40.7897 42.2211 41.0591 41.9518 41.0591 41.6194C41.0591 41.287 40.7897 41.0178 40.4574 41.0178H36.8955L54.151 23.7622C55.8376 25.8717 56.9087 29.5847 57.1115 34.093C57.1872 35.777 57.0572 37.439 56.7922 39.0359ZM53.0131 53.0137C44.5777 61.4492 31.3867 62.8779 21.3803 56.5328L29.6761 48.237C39.4112 48.6237 44.0775 46.8272 45.8055 45.8995C46.4056 48.6984 48.1948 53.0198 48.2793 53.2231C48.3726 53.4475 48.5918 53.5937 48.8348 53.5937H51.7638C51.9588 53.5937 52.1418 53.4992 52.2546 53.34C52.5206 52.9652 58.7631 44.0399 58.3133 34.0389C58.1435 30.2606 57.3711 26.9825 56.1344 24.633C56.4516 24.1977 56.9376 23.6049 57.5032 23.0518C62.6985 32.8179 60.9869 45.0401 53.0131 53.0137ZM60.8418 21.6379C61.5289 21.9582 61.6302 22.4404 61.4959 22.785C61.3365 23.1938 60.8193 23.5241 60.0605 23.2834C59.5816 23.1315 59.2324 22.6366 59.1709 22.0227C59.1634 21.9479 59.1602 21.8733 59.1612 21.7994C59.747 21.5061 60.3311 21.4002 60.8418 21.6379Z' fill='%23ED3237'/%3E%3Cpath d='M59.7488 10.2522C53.1381 3.64162 44.3488 0.000976562 35.0001 0.000976562C25.6512 0.000976562 16.862 3.64162 10.2513 10.2522C3.64064 16.8627 0 25.6519 0 35.0008C0 44.3495 3.64064 53.1388 10.2512 59.7494C16.8619 66.3601 25.6511 70.0007 34.9999 70.0007C44.3488 70.0007 53.138 66.3601 59.7487 59.7494C66.3594 53.1388 70 44.3495 70 35.0006C70 25.6518 66.3594 16.8627 59.7488 10.2522ZM58.8979 58.8987C45.7205 72.0759 24.2795 72.0759 11.1021 58.8987C-2.07507 45.7212 -2.07507 24.2803 11.1023 11.103C17.6909 4.51451 26.3453 1.22014 34.9999 1.22014C43.6545 1.22014 52.3091 4.51451 58.8977 11.103C65.2811 17.4863 68.7966 25.9733 68.7966 35.0008C68.7966 44.0282 65.2812 52.5152 58.8979 58.8987Z' fill='%23ED3237'/%3E%3Cpath d='M56.1453 56.145C44.4855 67.8048 25.5135 67.8048 13.8536 56.145C13.6186 55.91 13.2377 55.91 13.0027 56.145C12.7677 56.3799 12.7677 56.761 13.0027 56.9958C18.8782 62.8713 26.6902 66.1071 34.9994 66.1071C43.3086 66.1071 51.1206 62.8713 56.9961 56.9958C57.2311 56.761 57.2311 56.38 56.9961 56.145C56.7612 55.91 56.3804 55.91 56.1453 56.145Z' fill='%23ED3237'/%3E%3Cpath d='M49.1431 19.3648L30.4634 38.0444C30.2284 38.2792 30.2284 38.6603 30.4634 38.8952C30.5809 39.0127 30.7347 39.0714 30.8888 39.0714C31.0428 39.0714 31.1967 39.0127 31.3142 38.8952L49.9939 20.2156C50.2289 19.9808 50.2289 19.5997 49.9939 19.3648C49.759 19.1297 49.3781 19.1297 49.1431 19.3648Z' fill='%23ED3237'/%3E%3Cpath d='M13.3119 50.168C13.3312 50.1698 13.3504 50.1708 13.3695 50.1708C13.5282 50.1708 13.6816 50.1079 13.7948 49.9945L22.1443 41.646C26.6741 40.6274 30.2464 37.0563 31.2668 32.5272L49.9941 13.7954C50.1211 13.6684 50.1848 13.4913 50.1675 13.3125C50.1502 13.1336 50.0541 12.9719 49.9052 12.8714C39.3532 5.74784 25.151 7.12103 16.1359 16.1363C15.2473 17.0247 14.5076 17.8724 13.7843 18.8337C12.6099 18.0914 9.97368 16.7564 7.0427 17.4519C6.80912 17.5074 6.63089 17.6964 6.58913 17.9327C6.55048 18.1524 5.71341 23.1124 8.31665 25.3353C7.74529 26.7373 7.42776 28.2689 7.42776 29.874C7.42776 31.4884 7.74869 33.0286 8.32642 34.4374C8.26583 39.9819 9.87798 45.4722 12.8708 49.9056C12.9713 50.0546 13.1331 50.1508 13.3119 50.168ZM18.1944 43.8938L17.6781 41.8051C18.2712 41.8952 18.8783 41.9423 19.4962 41.9423C19.7209 41.9423 19.944 41.9349 20.1658 41.9228L18.1944 43.8938ZM19.4962 40.739C13.5052 40.739 8.63121 35.8649 8.63121 29.874C8.63121 23.8829 13.5053 19.0087 19.4962 19.0087C25.4871 19.009 30.3612 23.8831 30.3612 29.8738C30.3612 35.865 25.4871 40.739 19.4962 40.739ZM30.1516 24.2155C29.1901 22.4122 27.784 20.8816 26.0808 19.7681C27.1072 19.148 29.1273 18.1834 31.3222 18.5408C31.4398 19.6334 31.611 22.6591 30.1516 24.2155ZM30.686 25.3616C31.6377 24.55 32.1362 23.3717 32.3822 22.19C33.2554 21.7092 36.9817 19.848 42.2255 19.8639L31.5447 30.5476C31.557 30.3244 31.5645 30.1001 31.5645 29.8738C31.5645 28.279 31.2505 26.7567 30.686 25.3616ZM16.9867 16.9871C25.4221 8.55183 38.6131 7.12343 48.6198 13.4681L43.3947 18.6944C38.2382 18.4181 34.334 19.8999 32.5745 20.7385C32.6694 19.2591 32.4745 18.0427 32.4567 17.9362C32.4166 17.6975 32.2377 17.5063 32.0022 17.4503C28.725 16.6722 25.8173 18.4516 24.9077 19.0919C23.2788 18.2709 21.4413 17.8055 19.4962 17.8054C18.1475 17.8054 16.8512 18.0312 15.6391 18.4412C16.0572 17.9509 16.4983 17.4755 16.9867 16.9871ZM7.71981 18.5427C9.907 18.1828 11.9213 19.1265 12.9536 19.7407C11.2394 20.8515 9.82263 22.3829 8.85361 24.1904C7.40455 22.6393 7.59552 19.6272 7.71981 18.5427ZM16.3703 41.5295L17.2006 44.8876L13.4682 48.6195C11.2681 45.1336 9.9322 41.0194 9.60603 36.7776C11.2125 39.0722 13.5948 40.7843 16.3703 41.5295Z' fill='%23ED3237'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='70' height='70' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
    }

    &--new {
      background-image: url("data:image/svg+xml,%3Csvg width='84' height='84' viewBox='0 0 84 84' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cg clip-path='url(%23clip0)'%3E%3Cpath d='M31.1153 51.668C29.9812 51.668 29.0619 52.5874 29.0619 53.7214V63.0332L21.2511 52.4985C20.7234 51.7865 19.7988 51.4941 18.9578 51.7716C18.1165 52.0494 17.5483 52.8355 17.5483 53.7214V68.1142C17.5483 69.2482 18.4676 70.1675 19.6017 70.1675C20.7357 70.1675 21.655 69.2482 21.655 68.1142V59.9385L29.4658 70.4732C29.8606 71.0056 30.4775 71.3039 31.1156 71.3039C31.3303 71.3039 31.5473 71.2702 31.7591 71.2001C32.6004 70.9223 33.1686 70.1362 33.1686 69.2503V53.7214C33.1686 52.5874 32.2493 51.668 31.1153 51.668Z' fill='%23ED3237'/%3E%3Cpath d='M64.3983 51.6678C63.2642 51.6678 62.3449 52.5871 62.3449 53.7212V60.1033L61.0671 57.7748C60.7107 57.1254 60.0319 56.7179 59.2906 56.7094C58.5596 56.6903 57.8615 57.0919 57.4901 57.7332L55.9025 60.4732V53.7209C55.9025 52.5868 54.9832 51.6675 53.8492 51.6675C52.7151 51.6675 51.7958 52.5868 51.7958 53.7209V68.1136C51.7958 69.0426 52.4191 69.8554 53.3162 70.0966C54.2138 70.3374 55.1604 69.9467 55.6259 69.1429L59.2182 62.9423L62.5977 69.1015C62.9644 69.7701 63.6614 70.1673 64.3977 70.1673C64.5669 70.1673 64.7382 70.1464 64.9078 70.1027C65.816 69.8698 66.4513 69.0514 66.4513 68.1136V53.7209C66.4516 52.5871 65.5323 51.6678 64.3983 51.6678Z' fill='%23ED3237'/%3E%3Cpath d='M47.1023 55.7747C48.2364 55.7747 49.1557 54.8554 49.1557 53.7213C49.1557 52.5873 48.2364 51.668 47.1023 51.668H38.5459C37.4118 51.668 36.4925 52.5873 36.4925 53.7213V68.1141C36.4925 69.2481 37.4118 70.1675 38.5459 70.1675H47.1023C48.2364 70.1675 49.1557 69.2481 49.1557 68.1141C49.1557 66.98 48.2364 66.0607 47.1023 66.0607H40.5993V62.9712H47.1023C48.2364 62.9712 49.1557 62.0519 49.1557 60.9179C49.1557 59.7838 48.2364 58.8645 47.1023 58.8645H40.5993V55.7747H47.1023Z' fill='%23ED3237'/%3E%3Cpath d='M71.3117 39.2395L43.6662 0.853326C43.2802 0.317687 42.6603 0 42 0C41.3397 0 40.7196 0.317687 40.3339 0.853326L12.688 39.2395C8.86315 40.2046 6.02362 43.6731 6.02362 47.7933V75.1784C6.02362 80.0428 9.98107 84 14.8455 84H69.1548C74.0193 84 77.9767 80.0425 77.9767 75.1784V47.7933C77.9764 43.6731 75.1366 40.2046 71.3117 39.2395ZM42 5.56701L66.058 38.9714H17.9417L42 5.56701ZM73.8697 75.1784C73.8697 77.7783 71.7547 79.8932 69.1545 79.8932H14.8452C12.2454 79.8932 10.1301 77.7783 10.1301 75.1784V47.7933C10.1301 45.1934 12.2451 43.0785 14.8452 43.0785H69.1545C71.7544 43.0785 73.8697 45.1934 73.8697 47.7933V75.1784Z' fill='%23ED3237'/%3E%3Cpath d='M13.9334 44.6748C13.3936 44.6748 12.8627 44.8919 12.4814 45.2762C12.0971 45.6575 11.88 46.1855 11.88 46.7282C11.88 47.2679 12.0971 47.7959 12.4814 48.1802C12.8627 48.5616 13.3936 48.7816 13.9334 48.7816C14.4731 48.7816 15.0011 48.5616 15.3854 48.1802C15.7668 47.7959 15.9868 47.2679 15.9868 46.7282C15.9868 46.1855 15.7668 45.6575 15.3854 45.2762C15.0011 44.8919 14.4728 44.6748 13.9334 44.6748Z' fill='%23ED3237'/%3E%3Cpath d='M70.0663 44.6748C69.5266 44.6748 68.9956 44.8919 68.6143 45.2762C68.2329 45.6575 68.0129 46.1855 68.0129 46.7282C68.0129 47.2679 68.2329 47.7959 68.6143 48.1802C68.9986 48.5616 69.5266 48.7816 70.0663 48.7816C70.6061 48.7816 71.137 48.5616 71.5183 48.1802C71.9026 47.7959 72.1197 47.2679 72.1197 46.7282C72.1197 46.1855 71.9026 45.6575 71.5183 45.2762C71.1373 44.8919 70.6063 44.6748 70.0663 44.6748Z' fill='%23ED3237'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='clip0'%3E%3Crect width='84' height='84' fill='white'/%3E%3C/clipPath%3E%3C/defs%3E%3C/svg%3E%0A");
      margin-left: auto;
    }
  }

  &.--hot {
    .product-item__label--hot {
      display: block;
    }
  }

  &.--vegan {
    .product-item__label--vegan {
      display: block;
    }
  }

  &.--no-pork {
    .product-item__label--no-pork {
      display: block;
    }
  }

  &.--new {
    .product-item__label--new {
      display: block;
    }
  }

  &__descr {
    margin-top: auto;
    padding: 1.25rem 1.875rem;
    background-color: black;
    align-items: flex-end;
  }

  &__name,
  &__price {
    color: #FFFFFF;
  }

  &__name {
    font-size: 1rem;
    font-weight: 700;
    margin-bottom: 0.6875rem;
  }

  &__name,
  &__price {
    font-size: 1.125rem;
  }

  &__buttons {
    align-items: center;
  }

  &__button {
    background-color: transparent;
    border: none;
    font-size: 0;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;

    &::before,
    &::after {
      content: "";
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: white;
      height: 1.25rem;
      width: 0.1875rem;
      border-radius: 1px;
      transition: all .3s;
    }

    &::after {
      transform: translate(-50%, -50%) rotate(90deg);
    }

    &:hover,
    &:focus {
      outline: transparent;

      &::before,
      &::after {
        background-color: $main-red;
      }
    }

    &--minus::before {
      display: none;
    }
  }

  &__count {
    margin: 0 1rem 3px;
    color: white;
    display: block;
    font-size: 1rem;
    background-color: transparent;
    width: 2rem;
    border: none;
    text-align: center;
  }

  &__options {
    display: none;
    padding: 1.5625rem 1.875rem;
    background-color: #ffffff;
    position: relative;
  }

  &__size-wrapper {
    display: block;
  }

  &__size-checker {
    position: absolute;
    opacity: 0;

    &:checked+.product-item__size-descr .product-item__cm {
      background: $light-grey;
      box-shadow: inset 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.06);
      font-weight: 700;
    }
  }

  &__size-descr {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: #c6c6c680;

    &:hover .product-item__cm {
      background: $light-grey;
      box-shadow: inset 0px 0.25rem 0.25rem rgba(0, 0, 0, 0.06);
    }
  }

  &__size-box {
    padding: 0.75rem 0 0.75rem 0.75rem;
    font-size: 0.75rem;
    line-height: 1rem;
    word-wrap: normal;
    transition: all .26s;
    text-align: left;
    display: block;
  }

  &__cm {
    flex: 0 0 3.75rem;
    border-right: 1px solid #c6c6c680;
    padding-left: 1.25rem;
  }

  &__weight {
    flex: 1 1 auto;
    color: $dark-grey;
  }

  &__money {
    padding-right: 20px;
  }

  &__ingr {
    position: relative;
  }

  &__ingr-title {
    margin-bottom: 1rem;
  }

  &__ingr-wrapper {
    max-height: 20rem;
  }

  &__ingridients-switcher {
    border: 1px solid #c6c6c680;
    background-color: $grey;
    padding: 0.75rem 1.25rem;
    width: 100%;
    text-align: left;
    font-size: 0.75rem;
    line-height: 1rem;
    position: relative;
    height: auto;
    transition: all 0.26s;
    transform-origin: center center;

    &::before,
    &::after {
      background-color: #000000;
      right: 1.875rem;
      left: auto;
    }

    &:hover {
      box-shadow: 1px 0.1875rem 0.25rem rgba(0, 0, 0, 0.26);
      transform: scale(1.002);
    }

    &:active {
      box-shadow: none;
      transform: scale(0.998);
    }
  }

  &__ingr-list {
    position: absolute;
    background-color: #ffffff;
    padding: 1.25rem 1.25rem 0 1.25rem;
    bottom: 100%;
    width: 100%;
    display: none;
    font-size: 0.875rem;
  }

  &__ingridient-name {
    flex: 0 1 10rem;
    line-height: 1.1875rem;
    word-break: keep-all;
    word-wrap: break-word;
  }

  &__ingridient-weight {
    margin-left: auto;
    color: $dark-grey;
  }

  &__ingridient-price::before {
    content: "/";
    padding: 0 1px;
  }

  &__ingridient-btn {

    &::before,
    &::after {
      height: 0.875rem;
      background-color: #000000;
    }
  }

  &__ingr-row {
    margin-bottom: 10px;
  }

  &__ingridient-count {
    //input
    border: none;
    background-color: #ffffff;
    display: block;
    flex: 0 1 2.5rem;
    max-width: 2.5rem;
    text-align: center;
    margin-bottom: auto;
  }

  &__ingridient-counter {
    //wrapper
    flex: 0 0 4rem;
    justify-content: flex-end;
    margin-left: auto;

    &--no-count {

      .product-item__button--minus::after {
        background-color: $dark-grey;
      }

      .product-item__ingridient-count {
        color: $dark-grey;
      }
    }
  }

  .mCS-ingridient-scroll {

    .mCSB_buttonUp,
    .mCSB_buttonDown {
      border: 1px solid #afafaf;
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      height: 0.875rem;
      width: 0.875rem;
      background-image: url("data:image/svg+xml,%3Csvg width='11' height='9' viewBox='0 0 11 9' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.5 0L10.2631 8.25H0.73686L5.5 0Z' fill='%23DBDBDB'/%3E%3C/svg%3E%0A");
    }

    .mCSB_buttonDown {
      transform: rotate(180deg);
    }

    .mCSB_draggerContainer {
      background: #FFFFFF;
      box-shadow: inset 0rem 0.25rem 0.25rem rgba(0, 0, 0, 0.15);
      width: 0.875rem;
    }

    .mCSB_dragger {
      background: #DBDBDB;
      border-radius: 0.375rem;

      .mCSB_dragger_bar {
        background-color: transparent;
      }

      .mCSB_draggerRail {
        background-color: transparent;
      }
    }
  }
}