@import 'block-styles/_aside-menu';

.menu-wrapper .main {
  background-color: #ffffffbb;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: color;
}