//MEDIA - 1699px
@media screen and (max-width: 1699px) {
  html {
    font-size: 14px;
  }

  .categories-wrapper {
    grid-template-columns: repeat(3, 1fr);
  }

  .header__nav-item {
    margin: 0 1.5rem;
  }

  .header__icons {
    margin-left: 2rem;
  }

  .header__icon-cart {
    margin-left: 2rem;
  }
}

//!MEDIA

//MEDIA - 1200
@media screen and (max-width: 1200px) {
  html {
    font-size: 12px;
  }
}

//!MEDIA

//MEDIA - 1079
@media screen and (max-width: 1079px) {
  .header__inner--black {
    display: flex;
  }

  .hero__slide-title,
  .promotions__slide-title {
    font-size: 7rem;
  }

  .pagination {
    padding: 4rem 0 2rem;
  }
}

//!MEDIA

//MEDIA - 939
@media screen and (max-width: 939px) {
  .new .container {
    padding: 0;
  }

  .categories-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }

  .new__carousel.slick-slider {
    margin: 0;

    .carousel-item__wrapper {
      width: 25rem;

      .new__item {
        width: 25rem;
      }
    }
  }

  .hero__slide-inner,
  .promotions__slide-inner {
    max-width: 100%;
  }

  .hero__slide-word.--left,
  .promotions__slide-word.--left {
    left: 1.5rem;
  }

  .hero__slide-word.--right,
  .promotions__slide-word.--right {
    left: 5rem;
  }

  .products {
    grid-template-columns: 1fr 1fr;
  }

  .page-title__filter-btn {
    display: block;
  }

  .content-wrapper .page-title__filter {
    display: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: 1;
    padding: 1.875rem;
    margin-bottom: 2rem;
  }

  .page__filter-item {
    padding: 0.5rem 0;
    text-align: right;

    .page__filter-btn {
      font-size: 1.5rem;
    }
  }
}

//!MEDIA

//MEDIA - 767
@media screen and (max-width: 767px) {
  .header__phones-list {
    flex-direction: column;

    .phones__item {
      display: block;
      margin: 0;

      &:last-child {
        margin: 1rem 0 0 0;
      }
    }
  }

  .footer__nav {
    display: none;
  }

  .product-item:hover .product-item__ingridients {
    left: -50%;
  }

  .product-item .product-item__ingridients.--open {
    left: 0;

    & .product-item__ingridients-btn {
      transform: rotateY(180deg);
      background-color: transparent;
    }

    & .product-item__ingridients-icon {
      fill: $dark-grey;
    }
  }

  .product-item__ingridients-btn {
    display: block;
  }

  .cabinet__label,
  .cabinet__label--ph {
    background-color: #ffffff80;
    display: block;
  }

  .cart {
    background-image: none;
  }

  .cart__offer-item {
    flex-wrap: wrap;

    &+& {
      margin-top: 3rem;
    }
  }

  .cart__offer-descr {
    flex: 0 0 74%;
    margin-bottom: 1.5rem;
  }

  .cart__offer-size {
    margin: 0 0 0 auto;
    text-align: right;
    flex: 0 1 26%;
  }

  .cart__offer-price {
    margin: 0 0 0 auto;
  }

  .product-item__button {
    height: 3rem;
    width: 3rem;

    &.product-item__ingridients-switcher {
      width: 100%;
    }
  }

  .cart__product-icon {
    bottom: -3rem;

    &:nth-of-type(4) {
      bottom: -3rem;
    }
  }

  .cart__offer-count-input {
    font-size: 1.5rem;
    line-height: 1;
    width: 4rem;
    margin-top: 0.5rem;
  }

  .slick-dots,
  .slick-arrow {
    display: none;
  }
}

//!MEDIA

//MEDIA - 599
@media screen and (max-width: 599px) {
  .products {
    grid-template-columns: 1fr;
  }

  .cabinet__form-wrapper {
    flex-direction: column;
    margin-left: 2rem;
  }

  .cabinet__address {
    margin-left: 0;
  }

  .cabinet__address-item+.cabinet__address-item {
    margin-top: 1.25rem;
  }

  .contacts__box {
    flex-direction: column;
  }

  .contacts__box .contacts__text-wrapper {
    flex-direction: row;
    justify-content: flex-start;
  }

  .contacts__work-wrapper {
    margin-left: 5rem;
  }

  .contacts__map-wrapper {
    margin-left: 0;
    flex: 0 0 auto;
  }
}

//!MEDIA

//MEDIA - 499
@media screen and (max-width: 499px) {
  html {
    font-size: 14px;
  }

  .categories-wrapper {
    grid-template-columns: 1fr;
  }

  .header__inner--black .header__nav .header__nav-item:nth-child(2) {
    margin: 0;
  }

  .hero__slide-title,
  .promotions__slide-title {
    font-size: 4rem;
  }

  .product-item__ingr-list {
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
  }

  .contacts__work-wrapper {
    margin-left: 3rem;
  }

  .cart__delivery-phone {
    max-width: 50%;
  }
}

//!MEDIA

//MEDIA - 399
@media screen and (max-width: 399px) {

  .header__logo {
    margin-right: auto;
  }

  .header__work-hours {
    margin: 0 auto;
  }

  .main-link.phones__link {
    font-size: 0.75rem;
  }

  .footer-inner {
    flex-direction: column-reverse;
  }

  .footer__col {
    text-align: center;
    flex: 0 0 5rem;
  }

  .footer .footer__social-list {
    justify-content: center;
  }

  .cart__delivery-type {
    flex-direction: column-reverse;
  }

  .contacts__box .contacts__text-wrapper {
    flex-direction: column;
    justify-content: flex-start;
  }

  .contacts__work-wrapper {
    margin-left: 0;
  }

  .contacts__work-hours {
    margin-left: 3rem;
  }
}

//!MEDIA