:root {
  --main-red: #ED3237;
  --main-green: #005A00;
  --dark-grey: #AFAFAF;
  --grey: #F2F2F2;
  --grey-2: #c6c6c6;
  --light-grey: #FAFAFA;
}

$main-red: var(--main-red);
$main-green: var(--main-green);
$dark-grey: var(--dark-grey);
$grey: var(--grey);
$grey2: var(--grey-2);
$light-grey: var(--light-grey);



// $main-red: #ed3237;
// $main-green: #005A00;
// $dark-grey: #AFAFAF;
// $grey: #F2F2F2;
// $grey2: #c6c6c6;
// $light-grey: #FAFAFA;